.container {
    position: relative;
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1280px;
    min-width: 320px;
    /* max-width: 1400px; */
    /* max-width: 1680px; */
    /* max-width: 1880px; */
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
  
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
  
.flex {
  display: flex;
}
  
.section__title {
  margin-bottom: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  opacity: 1;
  z-index: 1;
}
  
.title__shadow {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 50%;
  font-size: 5.6rem;
  font-weight: 800;
  line-height: 6.9rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #113F98;
  opacity: 0.1;
  transform: translate(-50%,-25%);
}

.section__bottom{
  margin-bottom: 2rem;
}

.btn {
  border: 2px solid var(--accent-color);
  border-radius: var(--main-radius);
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--black-color);
  background-color: var(--accent-color);
  box-shadow: 10px 10px 10px rgba(5, 100, 153, 0.25);
  transition: background-color .2s ease-in-out;
}

.btn:focus-visible,
.btn:focus {
  outline: none;
}

.btn:focus-visible,
.btn:hover,
.btn:active {
  background-color: var(--color-bg);
  color: var(--accent-color);
}

.btn:active {
  margin-top: 2px;
  margin-left: 2px;
  border-width: 1px;
  box-shadow: 5px 5px 5px rgba(5, 100, 153, 0.25);
}

.text__bold {
  font-weight: 700;
}

  /* === scroll === */
.stop-scroll {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* .news {
  display: none;
} */