:root {
    --gap: 20px;
    --size-icon: 40px;
    --main-radius: 10px;
    --white-color: #fff;
    --black-color: #000;
    --color-bg: #00072c;
    --accent-color: #fec83f;
    --bluelight-color: #bdcae4;
    --bluelight-color-tr: rgb(189, 202, 228, 0.3);
    --color-light-blue-translucent: rgba(144, 163, 200, 0.8);
  }