@font-face {
	font-family: 'Montserrat';
	src: local('MontserratRegular'),
       url('../fonts/Montserrat-Regular.woff2') format('woff2'),
		   url('../fonts/Montserrat-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('MontserratBold'),
       url('../fonts/Montserrat-Bold.woff2') format('woff2'),
       url('../fonts/Montserrat-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('MontserratSemiBold'),
       url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
       url('../fonts/Montserrat-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('MontserratMedium'),
       url('../fonts/Montserrat-Medium.woff2') format('woff2'),
       url('../fonts/Montserrat-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('MontserratExtraBold'),
       url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
       url('../fonts/Montserrat-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
  font-display: swap;
}

:root {
  --gap: 32px;
  --block-border-radius: 10px;
  --color-text: #fff;
  --color-text-dark: #000;
  --сolor-backgroud: #00072c;
  --color-desing: #fec83f;
  --color-hover: #90a3c8;
  --color-active: #9fb1d4;
  --transition-color: color .3s ease-in-out;
  --transition-backcolor: background-color .3s easein-out;
  --main-font: normal 18px/22px 'Montserrat', sans-serif;

}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 2px solid var(--color-desing);
  outline-offset: 5px;
}

a:hover {
  color: var(--color-desing);
}

a:active {
  color: var(--color-desing);
  opacity: 0.7;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body {
  /* font-family: 'Montserrat', sans-serif; */
  /* font-style: normal; */
  font: var(--main-font);
  min-width: 320px;
  color: var(--color-text);
  background-color: var(--сolor-backgroud);
}

[class*="__container"] {
  margin: 0 auto;
  padding: 0 38px;
  max-width: 1280px;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.section__container {
  position: relative;
}

.section__title {
  /* position: relative; */
  margin-top: 0;
  margin-bottom: 35px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 35px;
  font-weight: bold;
  line-height: 43px;
  text-align: center;
  text-transform: uppercase;
  opacity: 1;
  z-index: 3;
}

.title__shadow {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 50%;
  font-size: 90px;
  font-weight: 800;
  line-height: 110px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #113F98;
  opacity: 0.1;
  transform: translate(-50%,-25%);
}

.section__text {
  margin: 0;
}

.item-text {
  font-weight: 600;
}

.section__bottom{
  margin-bottom: 35px;
}

.btn {
  border-radius: var(--block-border-radius);
  font: var(--main-font);
  font-weight: 600;
  color: var(--color-text-dark);
  background-color: var(--color-desing);
  box-shadow: 10px 10px 10px rgba(5, 100, 153, 0.25);
  transition: var(--transition-backcolor);
}

.btn:focus {
  outline: none;
}

.btn:focus-visible,
.btn:hover,
.btn:active {
  /* background-color: var(--color-hover); */
  background-color: var(--сolor-backgroud);
  outline: 2px solid var(--color-desing);
  color: var(--color-desing);
}

/* .btn:active {
  background-color: var(--color-active);
} */

/* === header === */
.header {
  margin-bottom: 35px;
}

.header__container {
  align-items: center;
}

.header__menu {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 4px solid var(--color-desing);
}

.menu__list {
  align-items: center;
  justify-content: space-between;
  width: 73%;
}

.menu__link,
.right__link {
  position: relative;
  transition: var(--transition-color);
}

.right__link {
  align-items: center;
  transition: var(--transition-color);
}

.right__link svg {
  margin-right: 9px;
  width: 40px;
  height: 40px;
}

.menu__link:focus-visible,
.right__link:focus-visible {
  outline: 2px solid var(--color-desing);
  outline-offset: 5px;
}

.menu__link:hover,
.right__link:hover {
  color: var(--color-desing);
}

.menu__link:active,
.right__link:active {
  color: var(--color-desing);
  opacity: 0.7;
}

/* === hero ===*/
.hero {
  position: relative;
  width: 100%;
  /* min-height: 692px; */
  padding-top: 104px;
  padding-bottom: 104px;
  background-image: url(../img/hero/hero-2.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: transparent;
  z-index: 0;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 7, 44, 0.3);
  z-index: -1;
}

.hero__content {
  flex-direction: column;
  align-items: flex-start;
  max-width: 59%;
  z-index: 2;
  pointer-events: none;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 3.12em;
  font-weight: 800;
  line-height: 1.25em;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 1.34em;
  line-height: 1.67em;
}

.hero__btn {
  padding: 24px 41px;
  pointer-events: auto;
}

/* === about ===*/
.about-info {
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.about-info__desc {
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* width: 58%; */
  /* line-height: 27px; */
}

.paragraph__bottom {
  margin-bottom: 24px;
}

.about-info__item {
  padding-left: 30px;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: 5px 7px;
}

.about__img {
  filter: drop-shadow(10px 10px 10px rgba(5, 100, 153, 0.25));
  /* margin-left: auto; */
  /* max-height: 458px; */
}

.about-plus__item {
  /* margin-bottom: 24px; */
  padding-left: 100px;
  min-height: 70px;
  background-image: url(../img/about/about-icon-2.svg);
  background-repeat: no-repeat;
  background-position: center left;
}
.about-plus__item:not(:last-child) {
  margin-bottom: 24px;
}

.about-plus__text {
  padding-top: 10px;
}

.about-plus__text_desing {
  color: var(--color-desing);
}

.adout-adv_desc {
  margin-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.article__title {
  margin-bottom: 30px;
  margin-left: 28px;
  font-weight: 600;
}

.adout-adv__item {
  padding-left: 32px;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: top 5px left 6px;
}

.adout-adv__item:not(:last-child) {
  margin-bottom: 24px;
}

.about__text {
  font-weight: 600;
  text-align: center;
  color: var(--color-desing);
}

/* === servis === */
.servis__list {
  flex-wrap: wrap;
  gap: 20px;
}

.servis__item {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 150px 16px 30px;
  border: 5px solid var(--color-desing);
  border-radius: var(--block-border-radius);
  flex: 1 1 48.7%;
  background-repeat: no-repeat;
  background-position: top 35px center;
  background-size: 90px;
}

.servis__item:nth-child(1){
  background-image: url(../img/servis/servis-1.svg);
}

.servis__item:nth-child(2){
  background-image: url(../img/servis/servis-2.svg);
}

.servis__item:nth-child(3){
  background-image: url(../img/servis/servis-3.svg);
}

.servis__item:nth-child(4){
  background-image: url(../img/servis/servis-4.svg);
}

.item__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.34em;
  font-weight: 600;
  line-height: 1.25em;
  text-align: center;
}

.item__text {
  align-items: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
}

.item__btn {
  margin-top: auto;
  padding: 15px 56px;
}

/* === practice === */


/* === news === */
.news {
  margin-bottom: 833px;
}

/* === contacts === */
.contacts_wrapper {
  justify-content: space-between;
  /* padding-top: 23px; */
  /* padding-bottom: 23px; */
}

.contacts__content {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts__info {
  margin-bottom: 30px;
}

.contacts__item {
  align-items: center;
}

.contacts__item:not(:last-child) {
  margin-bottom: 17px;
}

.contacts__icon {
  margin-right: 15px;
}

.contacts__text {
  font-weight: normal;
  flex-basis: 60%;
}

.contacts__btn {
  padding: 24px 71px;
  pointer-events: auto;
}

.contacts__map {
  width: 50%;
  height: 100%;
  min-height: 312px;
  object-fit: contain;
}
/* === scroll === */
.stop-scroll {
  overflow: hidden;
}

/* === modals === */
.modal {
  position: fixed;
  align-items: center;
  justify-content: center;
  /* width: 631px; */
  max-height: 680px;
  padding:30px 20px;
  border-radius: 15px;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  color: var(--color-text-dark);
  background-color: var(--color-hover);
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
}

.modal__overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity .3s ease-in-out;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.modal__overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: opacity .3s ease-in-out;

}

.modal--visible {
  visibility: visible;
  z-index: 10;
  opacity: 1;
}

.modal__form {
  width: 631px;
  padding:30px 20px;
}

.modal__title {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 1.34em;
  line-height: 1.25em;
  text-align: center;
}

.modal__form_top {
  flex-direction: column;
}

.modal__input {
  margin-bottom: 30px;
  padding: 26px 20px;
  border: none;
  border-radius: var(--block-border-radius);
}

.modal__textarea {
  padding: 26px 20px;
  resize: none;
  border: none;
  border-radius: var(--block-border-radius);
  height: 145px;
}

.modal__form_bottom {
  align-items: center;
  margin-top: 35px;
}

.agree__text {
  width: 50%;
  margin-right: 20px;
  font-size: 0.78em;
  line-height: 1em;
  opacity: 0.8;
}

.btn-submit {
  padding: 24px 83px;
}

.modal__servis {
  padding: 25px;
  width: 834px;
  /* outline: 1px solid red; */
}

.modal__servis_title {
  margin-top: 0;
  margin-bottom: 20px;
}

.btn-close {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 35px;
  font-weight: 600;
  color: var(--color-desing);
}

.modal__list {
  list-style-image: url(../img/check.svg);
  margin: 0;
}

/* .modal__item:not(:last-child) {
  margin-bottom: 20px;
} */

.modal__list_2 {
  list-style: circle;
  /* padding-top: 15px; */
}

/* === Footer === */
.footer__wrapper {
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 4px solid var(--color-desing);
}

.social__item:not(:last-child) {
  margin-right: 14px;
}

.social__item {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--color-desing);
}

.footer__icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.footer__icon:hover svg path {
  fill: var(--сolor-backgroud);
}

.footer__icon:hover svg {
  background-color: var(--color-desing);
  border-radius: 50%;
}