@media (max-width: 1024px) {
    /* === header === */

    /* === hero ===*/
    .hero__wrapper {
        background: linear-gradient(to right, transparent 5%,rgba(0, 0, 0) 35%, rgba(0, 0, 0, 1) 100%);
      }
    .hero__img_2 {
        width: 32rem;
        height: 32rem;
      }
    .hero__content {
        max-width: 50%;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .hero__title {
        margin-bottom: 1rem;
        font-size: 2rem;
        line-height: 1.25;
    }
    .hero__text {
        margin-bottom: 1rem;
        font-size: 1em;
        line-height: 1.875rem;
    }
    .hero__btn {
        margin-top: 1rem;
        padding: 1rem 2rem;
    }
    .hero__list {
        flex-direction: column;
    }
    .hero__item {
        width: 100%;
        padding: 0.25rem;
    }
    .hero__item svg {
        width: 30px;
      }
    .hero__item_text {
        width: 100%;
    }
}

@media (max-width: 768px) {
        /* glob */
        /* .section__bottom{
            margin-bottom: 1rem;
          }
        .section__title {
            margin-bottom: 1rem;
            padding: 0;
            font-size: 1rem;
            line-height: 1.25em;
          }
        .title__shadow {
            display: none;
          } */
        .btn {
            font-size: 1rem;
          }
    /* === header === */
    .btn-burger {
        display: block;
      }
    .menu__list {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        z-index: 20;
        overflow-y: auto;
        display: block;
        width: 50%;
        min-width: 20rem;
        min-height: 20rem;
        border-radius: 0 0 var(--block-border-radius) var(--block-border-radius);
        background-color: var(--сolor-backgroud);
        box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
        transform: translateX(-100%);
        /* transition: visibility .8s ease-in-out, transform .8s ease-in-out, opacity .8s ease-in-out; */
        transition: visibility .8s ease-in-out, transform .8s ease-in-out;
        margin-top: 2rem;
        padding: 3rem;
        }  
    .menu__list .menu__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 2rem;
    }
    .menu__item {
        text-transform: uppercase;
    }   
    .menu__list-active {
        visibility: visible;
        transform: translateX(0);
    }

     /* === hero ===*/
     .hero__wrapper {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        align-items: center;
        justify-content: center;
      }
    .hero__img_2 {
        top: 0%;
        background-image: url(../img/hero/hero-2-15.jpg);
      }
      .hero__img_2 {
        left: 50%;
        transform: translateX(-50%);
      }
    .hero__content {
        justify-content: center;
        align-items: center;
        padding: 16.75rem 2.5rem 2rem;
        max-width: none;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .hero__item {
        text-align: start;
        padding: 0;
    }
    .hero__item svg {
        width: 25px;
      }
    .hero__btn {
        font-size: 1rem;
    } 
    /* === contacts === */
    .contacts_wrapper {
        flex-direction: column;
        gap: var(--gap);
        align-items: center;

    }
    .contacts__content {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }
    .contacts__item  {
        width: calc((100% - (var(--gap)))/2.5);
    }
    .contacts__item:not(:last-child) {
        /* margin-bottom: 0.5rem; */
      }
    .contacts__btn {
        padding: 1rem 2rem;
      }

    .contacts__map {
        width: 100%;
    }


}

@media (max-width: 577px) {
    :root {
        --gap: 14px;
        --size-icon: 30px;
      }
      html,
      body {
        font-size: 14px;
        line-height: 1.2;
      }
    .container {
        padding: 0 10px;
      }
    /* glob */
    .section__bottom{
        margin-bottom: 1rem;
      }
    .section__title {
        margin-bottom: 1rem;
        padding: 0;
        font-size: 1rem;
        line-height: 1.25em;
      }
    .title__shadow {
        display: none;
      }
    .btn {
        font: 1rem;
      }
    /* === header === */
    .header {
        margin-bottom: 0;
    }
    
    .header__wrapper {
        padding: 1rem 0;
    }
    .right__link svg {
        width: 30px;
        height: 30px;
    }

    /* === hero ===*/
    .hero__content {
        padding: 16.75rem 0.5rem 2rem;
    }
    .hero__img_2 {
        background-image: url(../img/hero/hero-2-320.jpg);
        filter: none;
        width: 100%;
        height: 281px;
      }
      .hero__title {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-bottom: 0.5rem;
    }
      .hero__text {
        max-width: 100%;
        margin-bottom: 0.5rem;
    }
    .hero__item:not(:last-child) {
        margin-bottom: 0.5rem;
    }
    .hero__item svg {
        width: 20px;
      }
      .hero__btn {
        padding: 1rem;
        margin-top: 0.5rem;
    }
    /* === contacts === */
   
    .contacts__item:not(:last-child) {
        margin-bottom: 0.5rem;
      }

    .contacts__icon {
        width: 30px;
        height: 30px;
    }

    .contacts__btn {
        padding: 1rem 0.5rem;
      }


    /* === footer === */
    .footer__wrapper {
        flex-direction: column-reverse;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
      }
    .footer__social {
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 1rem;
        margin-left: 0;
      }

    .copyright__text {
        font-size: 14px;
        width: 100%;
      }
 

}
