/* === about ===*/
.about {
  display: flex;
  flex-direction: column;
}
.info__img {
  margin-right: 2rem;
  width: 40%;
  height: 100%;
  float:left;
  filter: drop-shadow(10px 10px 10px rgba(5, 100, 153, 0.25));
}
.info__desc {
  padding: 0.75rem 0;
}
.info__text:not(:last-child) {
  margin-bottom: 1rem;
}
.info__text:first-child {
  margin-bottom: 1.75rem;
}
.info__text:last-child {
  padding-top: 1.5rem;
}
.info__list {
  padding: 0.75rem 0;
}
.info__item::before {
  content: "\2713";
  padding-inline: 1ch;
  color: var(--accent-color);
}
.info__item p {
  display: inline;
  height: 100%;
}
.info__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.adout__article {
  align-items: center;
  width: 100%;
}

.article__title {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.article__list {
  /* display: inline-flex; */
  flex-wrap: wrap;
  gap: var(--gap);
  counter-reset: item;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.article__item {
  position: relative;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0.5rem 1rem 6rem;
  width: calc((100% - (var(--gap))*1)/2);
  /* outline: 2px solid green; */
}

.article__item::before {
  content: counter(item);
  counter-increment: item;
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  /* font-family: Courier, monospace; */
  font-size: 7.5rem;
  font-weight: 700;
  font-variant-numeric: tabular-nums;
  color: var(--accent-color);
  z-index: -1;
  transform: translateY(-50%);
}

/* .item__number {
  z-index: -1;
  margin-right: 1rem;
  padding:  0 1rem;
  min-width: 60px;
  font-size: 4rem;
  font-weight: bold;
  color: #fec83f;
  transform: translateY(1rem);
  opacity: 0.9;
} */

/* .item__number_shadow {
  position: absolute;
  z-index: -2;
  top: 25%;
  left: 0%;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  color: #113F98;
  opacity: 0.2;
  transform: translate(5%, 50%);

} */

/* .adout-adv__text2 {
  color: #fec83f;
} */